*{
  box-sizing: border-box;
}
html{
  font-size: 50px;
}
ul, ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #000;
}
h2{
  text-align: center;
}
body{
  margin: 0 auto;
  font-family: 'Poiret One', cursive;
}
.container{
  background-color: #fff;
}
header{
 margin: 0;
 background-image: url(../img/libros2.jpg);
}
header h1{
  margin: 0;
  padding: 25px 20px 25px;
  color: #fff;
}
.separador{
  background-color: rgb(70, 135, 199);
  color: #fff;
}
.separador h2{
  text-align: left;
  padding: 8px 20px 10px;
  margin: 0;
  font-size: 60px;
}
form{
  width: 85%;
  color: #000;
  border-radius: 5px;
  text-align: center;
  margin: 30px auto;
  padding: 20px 20px 20px;
}
form h2{
  margin: 0 0 40px;
  padding: 20px;
  color: #000;
  text-align: center;
}
form i{
  color: rgb(70, 135, 199);
}
.datos input{
  font-size: 40px;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  margin: 30px 0;
  padding-left: 10px;
  line-height: 80px;
  width: 80%;
  box-shadow: 2px 2px 10px #c7c7c7;
  font-family: 'Poiret One', cursive;
}
.check input{
  font-size: 40px;
  width: 50px;
  height: 50px;
}
.check label{
  font-size: 40px;
}
.login{
  display: block;
  background-color: rgb(70, 135, 199);
  box-shadow: 2px 2px 3px #a4a4a4;
  border-radius: 5px;
  width: 60%;
  line-height: 80px;
  border: 0;
  font-family: 'Poiret One', cursive;
  color: #fff;
  font-size: 40px;
  margin: 30px auto 40px;
  font-weight: bold;
}
.login:hover{
  background-color: #424242;
}
.login h2{
  color: #000;
}
hr{
  margin: 10px;
}
.datos-alt button{
  display: block;
  color: #fff;
  border-radius: 5px;
  border: 0;
  width: 60%;
  margin: 10px auto 35px;
  box-shadow: 2px 2px 3px #a4a4a4;
  line-height: 80px;
  font-size: 40px;

}
.datos-alt button:hover{
  font-weight: bold;
}
.face{
  background-color: #3b5998;
}
.google{
  background-color: #db4a39;
}
.recover p{
  text-align: center;
  padding: 6px;
  margin: 5px 0;
  font-size: 29px;
    color: #000;
}
.recover a{
  color: #000;
}
.recover a:hover{
  color: rgb(70, 135, 199);
  font-weight: bold;
}
.cuenta a{
  text-decoration: underline;
}
footer{
  background-color: rgb(70, 135, 199);
  color: #fff;
  line-height: 80px;
}
footer ul{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 0;
}
footer a{
  color: #fff;
}
